<form method="post" action="{{ path('agrume_delete', {'id': agrume.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer set agrume?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ agrume.id) }}">
    <button class="btn btn-danger mt-2">Supprimer</button>
</form>
